body {
margin:0;
padding:0;
background:linear-gradient(30deg,#8419e5,#fff,#8419e5);
background-repeat:no-repeat;
background-size:100vw 100vh;
}

#main{
width:100vw;
height:100vh;
background:transparent;
display:flex;
align-items:center;
justify-content:center;
}

#box{
width:80%;
height:70vh;
position:absolute;
background:#fff;
box-shadow:1px 1px 50px #fff,inset 1px 1px 20px #8419e5;
padding:20px 10px;
display:flex;
flex-direction:column;
border-radius:10px;
border:10px solid #8419e5;
transform:perspective(1000px);
align-items:center;
justify-content:center;
overflow:hidden;
}


#box_img{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
padding:8px 10px;
}

#box_img img{
width:170px;
animation:heart 1.5s linear infinite ;
}

@keyframes heart {
0%{
transform:scale(1);
}
2%{
transform:scale(1.1);
}

16%{
transform:scale(1);
}

18%{
transform:scale(1.1);
}
}

h1{
color:#606060;
font-weight:600;
-webkit-text-stroke:1px #000;
}

p{
color:#8419e5;
font-weight:700;
font-size:19px;
line-height:25px;
}

summary{
color:#8419e5;
font-weight:700;
font-size:19px;
line-height:25px;
}

details{
color:#000;
font-weight:600;
font-size:15px;
line-height:25px;
}

#logo{
font-size:22px;
}

#para{
overflow-x:hidden;
overflow-y:scroll;
width:100%;
height:500px;
padding:0px 10px;
}

#btn{
padding:5px 20px;
color:#fff;
font-weight:600;
background:#8419e5;
border:none;
border-radius:10px;
width:47%;
font-size:16px;
}

#btn1{
padding:10px 15px;
color:#fff;
font-weight:600;
font-size:16px;
background:#8419e5;
border:none;
border-radius:10px;
width:50%;
display:none;
}

@media(min-width:1024px){
#btn{
display:none;
}
#btn1{
margin-top:2rem;
display:block;
width:100%;
}
#box{
flex-direction:row;		
height:65vh;
}			
#box_img img{
width:220px;
}
#box_img{
width:90%;
padding:0px 0px;
}
p{
font-size:27px;
line-height:38px;
letter-spacing:1px;
}

summary{
font-size:27px;
line-height:38px;
letter-spacing:1.2px;
}

details{
color:#000;
font-weight:600;
font-size:23px;
line-height:45px;
}

#logo{
font-size:33px;
}
#para{
height:350px;
width:170%;
padding:0px 10px;
border-left:5px solid #8419e5;
border-top:5px solid #8419e5;
box-shadow:inset 1px 1px 10px #ededd9;
 overflow: auto; 
 -webkit-overflow-scrolling: touch;
 }
#para::-webkit-scrollbar { 
width:5px;
}
#para::-webkit-scrollbar-track { 
background: #fff;
}
#para::-webkit-scrollbar-thumb {
 background: #8419e5;

 }
}
}


